@{
    ViewData["Title"] = "Home";
    ViewData["tags"] = "Loja, Loja exemplo, loja exemplo C sharp, loja exemplo C#";
    ViewData["desc"] = "Loja exemplo desenvolvida em C#, este site não efetua nenhum tipo de venda";
}

<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">

            @foreach (Banners banner in ViewBag.banners)
            {
                <li>
                    <img src="img/banners/@banner.BannersImagem1" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            @banner.BannersTitulo1 <span class="primary"><strong>@banner.BannersSubTitulo1</strong></span>
                        </h2>
                        <h4 class="caption subtitle">@banner.BannersDescricao1</h4>
                        <a class="caption button-radius" href="@banner.BannersLink1"><span class="icon"></span>Vizualizar</a>
                    </div>
                </li>
            }

            </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->







<!--
<main class="main">
    <div class="page-content">
        <section class="intro-section">
            <div class="owl-carousel owl-theme row owl-nav-arrow owl-nav-fade  intro-slider mb-2 animation-slider cols-1 gutter-no" >

                @foreach (Banners banner in ViewBag.banners){
                <div class="banner banner-fixed intro-slide2" style="width: 100%;
        height: 510px;
        background-attachment: inherit;
        background-image: linear-gradient(to right,#ffffffe3 20%,#ffffff00 80%), url(images/demos/demo7/slides/@banner.BannersImagem1);
        background-blend-mode: inherit;">
                    <div class="container">
                        <div class="banner-content y-50 pl-2">
                            <div class="slide-animate" data-animation-options="{
                                        'name': 'fadeInRightShorter'
                                    }">
                                <h4 class="banner-subtitle text-uppercase text-primary ls-s">
                                    @banner.BannersSubTitulo1
                                </h4>
                                <h3 class="banner-title text-dark ls-m">@banner.BannersTitulo1</h3>
                                <p class="font-weight-semi-bold text-uppercase">
                                    <span>
                                        @banner.BannersDescricao1
                                    </span>
                                </p>
                                <a href="@banner.BannersLink1" class="btn btn-dark btn-rounded">Acessar<i class="d-icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                }


            </div>
            <div class="category-wrap row cols-lg-4 cols-sm-2 cols-1 gutter-sm">
                @{
                    int cont = 0;
                }
                @foreach (Categorias categoria in ViewBag.categorias)
                {
                    cont++; if (cont == 5) { break; }
                    if ((cont % 2) == 0) {




                <div class="category category-absolute category-banner appear-animate mb-2" data-animation-options="{
                            'name': 'fadeInLeftShorter',
                            'delay': '.4s'
                        }" style="        width: 100%;
        height: 270px;
        background-attachment: inherit;
        background-image: linear-gradient(45deg, #000000de, #00000054), url(images/demos/demo7/categories/@categoria.imagem);
        background-blend-mode: inherit;">

                    <div class="category-content align-items-center x-50 w-100">
                        <h4 class="category-name text-uppercase" style="color: #ff9800;">@categoria.titulo</h4>
                        <span class="category-count text-uppercase" style="color: #ffffff;">
                            @categoria.descricao
                        </span>
                        <a style="color: #ff9800;" href="/categorias/@categoria.permalink" class="btn btn-underline btn-link">Ver</a>
                    </div>
                </div>



                    }
                    else {



                    <div class="banner banner-fixed appear-animate mb-2" data-animation-options="{
                            'name': 'fadeInLeftShorter',
                            'delay': '.2s'
                        }" style="        width: 100%;
        height: 270px;
        background-attachment: inherit;
        background-image: linear-gradient(45deg, #000000de, #00000054), url(images/demos/demo7/categories/@categoria.imagem);
        background-blend-mode: inherit;">

                        <div class="banner-content text-center x-50 y-50 w-100">
                            <h3 class="banner-title text-white ls-m">@categoria.titulo</h3>
                            <p class="font-weight-semi-bold">@categoria.descricao</p>
                            <a href="/categorias/@categoria.permalink" class="btn btn-white btn-link btn-underline">Ver<i class="d-icon-arrow-right"></i></a>
                        </div>
                    </div>




                    }

                }

            </div>
        </section>

        <section class="mt-10 pt-7 appear-animate" data-animation-options="{
                    'delay': '.2s'
                }">
            <div class="container">
                <h2 class="title title-center">Produtos</h2>
                <div class="row">





                    @foreach (Produtos produto in ViewBag.produtos)
                    {
                        <div class="col-lg-4 col-6 mb-4">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="demo7-product.html">
                                        <img style="max-height: 345px;" src="images/demos/demo7/products/@produto.ProdutoThumb" alt="product" >
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart"><i class="d-icon-bag"></i></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat">
                                        @foreach (Categorias categoria in ViewBag.categorias)
                                        {
                                            if (categoria.id == produto.ProdutoIdCategoria)
                                            {
                                        <a href="/categorias/@categoria.permalink">@categoria.titulo</a>
                                            }

                                        }
                                    </div>
                                    <h3 class="product-name">
                                        <a href="/produto/@produto.ProdutoId/@produto.ProdutoPermalink">@produto.ProdutoTitulo</a>
                                    </h3>
                                    <div class="product-price">
                                        <ins class="new-price">R$@(produto.ProdutoPreco - ((produto.ProdutoPreco / 100)* produto.ProdutoDesconto))</ins><del class="old-price">R$@produto.ProdutoPreco</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }






                    </div>
            </div>
        </section>


    </div>
</main>-->
<!-- End of Main -->
